@import "tailwindcss";

@theme {
  --color-navy-900: #0e2a4d;
  --color-navy-800: #0a1f3b;
}

.main-app-container {
  max-width: 1128px;
  margin: 0 auto;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
